body{
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.596), 
    rgba(0, 0, 0, 0.596)
  ),
  url(img/baltrex-cover.jpg);
  background-size: cover;
  background-position: center;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 900px;
  height: 400px;
  opacity: 0.6;
  transition: all 1s;
}

img:hover{
  opacity: 1;
  transform: scale(1.1);
}

@media(max-width: 870px){
  img{
    width:400px;
    height: 200px;
  }
}

@media(max-width: 390px){
  img{
    width: 300px;
    height: 150px;
  }
}